# folders
build
Debug
3rdparty
install
dist
doc/html
/android
/ios
/win32
/linux
/mac
/mac_osx
/retrieval
.settings

# patterns
doc/*.tag
*.cscope_file_list
*.res
*.data
*.depend

# eclipse
.project
.cproject

# files
erp_git_version.h
.buildstate
.topbuildstate
.lasttopbuild
.lastbuild
build.log
topbuild.log
@LOGFILE
*.bak
*.cbp
*.cbTemp
*.layout
*.save
*~
/cscope.out
